useDynLib(fastnmf, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(Matrix)
import(data.table)
import(ggplot2)
importFrom(grDevices,hcl)
importFrom(methods, as)
importFrom(reshape2,melt)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(methods, new)
export(mdensity)
export(mheatmap)
export(nmf)
export(nnls)
exportClasses(nmfmodel)